__pycache__/
*.pyc
*.pyo
*.py[cod]
*$py.class
*.egg-info/
pypiREADME.md
MANIFEST.in
build/
dist/

.DS_Store
.AppleDouble
.LSOverride
UserInterfaceState.xcuserstate
Thumbs.db
Thumbs.db:encryptable
ehthumbs.db
ehthumbs_vista.db

.vscode/
.idea/
